<div class="col-sm-6 centro" style="margin-top: 10%;">
  		<div class="featured-box featured-box-primary mt-xlg">
	  		<div class="box-content">
          <%= form_for(@port) do |f| %>
          <h4 class="heading-primary text-uppercase mb-md head-label">Informe os dados abaixo</h4>
  	  		<form action="/" id="frmVisitante" method="post">
         
          <% if @port.errors.any? %>
            <div class="alert alert-danger">
              <h2>Oops! campos com erro:</h2>
              <% @port.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>
        
        <div class="row">
					<div class="form-group">
						<div class="col-md-12 campo-cadastro">
							<a class="label-cadastro">IP da porta</a>
							 <%= f.text_field :ip, :autofocus => true, class: 'form-control input-lg' %>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group">
						<div class="col-md-12 campo-cadastro">
							<a class="label-cadastro">Descrição da porta</a>
							 <%= f.text_field :descricao, :autofocus => true, class: 'form-control input-lg' %>
						</div>
					</div>
				</div>
				
				<div class="row">
				  <div class="col-md-6 centro">
						<input type="submit" value="Cadastrar" class="btn btn-primary mb-xl btn-cadastro" data-loading-text="Aguarde...">
					</div>  
				</div>
				
				</form>
      <% end %>
    </div>
  </div>
</div>
