<div class="centro-table" style="margin-top: 10%;">
  <div class="container-form">
    <div class="row">
    <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Portas Cadastradas
                  <div class="btn btn-success"><%= link_to 'Nova porta', new_port_path %></div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover responsive" id="dataTables-portas">
                      <thead>
                          <tr>
                              <th>Ip</th>
                              <th>Descricao</th>
                              <th colspan="2"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <% @ports.each do |port| %>
                          <tr class="gradeA odd" role="row">
                            
                            <td class="sorting_1"><%= port.ip %></td>
                            <td><%= port.descricao %></td>
                            <td><%= link_to 'Editar', edit_port_path(port) %></td>
                            <td><%= link_to 'Apagar', port, method: :delete, data: { confirm: 'Apagar porta?' } %></td>
                          </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>  
  </div>
</div>


<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
        $('#dataTables-portas').DataTable({
            responsive: true
        });
    });
</script>

<script type="text/javascript" charset="utf8" src="/js/bootstrap.min.js"></script>