<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @port.ip %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @port.descricao %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
