<div class="col-sm-6 centro" style="margin-top: 10%;">
  <div class="featured-box mt-xlg">
	<div class="box-content">
  		  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
    			
    			<form action="/" id="frmSignIn" method="post" class="form-horizontal">
    				<fieldset>
    					<!-- Form Name -->
  					<legend>Cadastrar-se</legend>
  	  				
  	  				<!-- Text input-->
    				<div class="form-group">
  					  <label class="col-md-4 control-label" for="Login">Nome</label>  
  					  <div class="col-md-8">
  					  <%= f.text_field :nome, :autofocus => true, class: 'form-control input-md campo-login'%>  
  					  </div>
  					</div>
  					<div class="form-group">
  					  <label class="col-md-4 control-label" for="Login">E-mail</label>  
  					  <div class="col-md-8">
  					  <%= f.email_field :email, :autofocus => true, class: 'form-control input-md campo-login'%>  
  					  </div>
  					</div>
  					
  					<div class="form-group">
  					  <label class="col-md-4 control-label" for="Login">Senha</label>  
  					  <div class="col-md-8">
  					  <%= f.password_field :password, :autofocus => true, class: 'form-control input-md campo-login'%>  
  					  </div>
  					</div>
  					
  					<div class="form-group">
  					  <label class="col-md-4 control-label" for="Login">Confirmar senha</label>  
  					  <div class="col-md-8">
  					  <%= f.password_field :password_confirmation, :autofocus => true, class: 'form-control input-md campo-login'%>  
  					  </div>
  					</div>
            <!-- Button -->
  					<div class="form-group">
  				  		<label class="col-md-4 control-label" for="singlebutton"></label>
  					  	<div class="col-md-8">
  					    	<input type="submit" value="Cadastrar" class="btn btn-primary btn-cadastro" data-loading-text="Aguarde...">
  	  					</div>
  					</div>
            <div class="row">
	  						<div class="form-group">
		  						<div class="col-md-12">
		  							<div class="modal-recuperar" style="float: left;">
		  							  <%= render "users/shared/links" %>
		  							</div>
		  						</div>
		  					</div>
		  				</div>
    				</div>
    			</fieldset>
    		</form>
  		<% end %>
  	 </div>
    </div>
  </div>

