<div class = "md-12 container">
    <% if !@permitions.empty? %> 
        <div class="centro-table" style="margin-top: 10%;">
            <div class="container-form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                        <% @permitions.each do |p| %>

                        <!-- Button -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 campo-cadastro">
                                        <label class="col-md-6 control-label" for="singlebutton"><%= p.descricao %></label>
                                        <div class="col-md-2">
                                            <%= link_to 'Liberar', liberarPortas_path(:ip => p.ip), class: "btn btn-primary"%>
                                        </div>
                                        <div class="col-md-2">
                                            <%= link_to 'Fechar', fecharPortas_path(:ip => p.ip), class: "btn btn-primary"%>
                                        </div>
                                        <div class="col-md-2">
                                            <%= link_to 'Estado', estadoPortas_path(:ip => p.ip), class: "btn btn-primary"%>
                                        </div>
                                    </div>
                                </div>
                            </div>
              
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/bootstrap.min.js"></script>