<div class="col-sm-6 centro" style="margin-top: 10%;">
	<div class="featured-box featured-box-primary mt-xlg">
		<div class="box-content">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> Este usuário não pode ser salvo:</h2>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="row">
					<div class="form-group">
						<div class="col-md-12 campo-cadastro">
							<a class="label-cadastro">Nome</a>
							 <%= f.text_field :nome, :autofocus => true, class: 'form-control input-lg' %>
						</div>
					</div>
				</div>
        
        <%= f.collection_check_boxes(:ports_id, Port.all, :id, :ip) do |b| %>
          <div class="row">
            <%= b.label(class: "check_box") do %>
              <div class="col-md-4">
                <%= b.check_box(class: "check_box") %>
              </div>
        
              <div class="col-md-8">
                <%= b.object.descricao %>
              </div>       
            <% end %>
          </div>
        <% end %>
        
        
    <div class="row">
		  <div class="col-md-6 centro">
				<input type="submit" value="Salvar" class="btn btn-primary mb-xl btn-cadastro" data-loading-text="Aguarde...">
			</div>  
		</div>
        
       
      <% end %>
    </div>
  </div>
</div>

