
<div class="centro-table" style="margin-top: 10%;">
  <div class="container-form">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Usuários Cadastradas
            <!-- <div class="btn btn-success"><%= link_to 'Novo Usuário', novoUsuario_path %></div> -->
          </div>
            <!-- /.panel-heading -->
          <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover responsive" id="dataTables-users">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                    <tr class="gradeA odd" role="row">
                      
                      <td class="sorting_1"><%= user.nome %></td>
                      <td><%= link_to 'Editar', edit_user_path(user) %></td>
                      <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Apagar usuário?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>


<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.responsive.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
        $('#dataTables-users').DataTable({
            responsive: true
        });
    });
</script>

<script type="text/javascript" charset="utf8" src="/js/bootstrap.min.js"></script>
    
