
<div class="col-sm-6 centro" style="margin-top: 10%;">
  <div class="featured-box mt-xlg">
	<div class="box-content">
  		  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
  			<form action="/" id="frmSignIn" method="post" class="form-horizontal">
  				<fieldset>
  					<!-- Form Name -->
					<legend>Login</legend>
	  				
	  				<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="Login">E-mail</label>  
					  <div class="col-md-8">
					  <%= f.email_field :email, :autofocus => true, class: 'form-control input-md campo-login'%>  
					  </div>
					</div>
	  				
	  				<!-- Password input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="Password">Senha</label>
					  <div class="col-md-8">
					    <%= f.password_field :password, class: 'form-control input-md campo-login'%>
					  </div>
					</div>
	  				
	  				
	  				<!-- Button -->
					<div class="form-group">
				  		<label class="col-md-4 control-label" for="singlebutton"></label>
					  	<div class="col-md-8">
					    	<input type="submit" value="ENTRAR" class="btn btn-primary btn-cadastro" data-loading-text="Aguarde...">
	  					</div>
					</div>
					
	  				
	  				<div class="modal-footer">
	  					<div class="row">
		  					<div class="col-md-6">
		  						<span class="remember-box checkbox">
		  							<div style="float: left;">
			  							<label for="rememberme">
			  								<%= f.check_box :remember_me %> Lembrar-me
			  							</label>
		  							</div>
		  						</span>
			  				</div>
		  				</div>
	  					<div class="row">
	  						<div class="form-group">
		  						<div class="col-md-12">
		  							<div class="modal-recuperar>
		  								<%= link_to "Cadastrar", sign_up%></a>
            							<a href="/users/sign_up " class ="btn btn-success" >Novo Usuário	</a>
		  								<%- if devise_mapping.recoverable? %>
				  							<%= link_to "Recuperar Senha?", new_password_path(resource_name)%></a>
				  						<% end %>
				  				
		  							</div>
		  						</div>
		  					</div>
		  				</div>
				</div>
			</fieldset>
  		</form>
  		<% end %>
  	 </div>
</div>
  </div>