<!DOCTYPE html>
<html>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body> 

	<% if user_signed_in? %>
	<div class="body">
		
		
		<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <i class="icon-search icon-large icon-white"></i>
          <a class="navbar-brand" href="/">Automation Key IOT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.try(:admin?) %>
													
					<li class="login">
						<a href="/ports" >
							PORTAS
						</a>
					</li>
					
					<li class="login">
						<a href="/users" >
							USUÁRIOS
						</a>
					</li>
					
					<li class="login">
						<a href="/users/sign_out" data-method="delete" rel="nofollow">
							SAIR
						</a>
					</li>
				<% else %>
					<li class="login">
						<a href="/users/sign_out" data-method="delete" rel="nofollow">
							SAIR
						</a>
					</li>
				<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <% end %>
</body>
</html>