<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <main role="main">
        <%= yield %>
    </div>
  </main>

</body>
</html>
