<div class="col-sm-6 centro" style="margin-top: 5%;">
  		<div class="featured-box cadastro-teste featured-box-primary mt-xlg">
	  		<div class="box-content">
	  		  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
	  			<h4 class="heading-primary text-uppercase mb-md head-label">Informe os dados abaixo</h4>
	  			
	  			<form action="/" id="frmSignIn" method="post">
	  			  <% if @user.errors.any? %>
		              <div class="alert alert-danger">
		                <h2>Oops! campos com erro:</h2>
		                <% @user.errors.full_messages.each do |message| %>
		                  <li><%= message %></li>
		                <% end %>
		              </div>
		            <% end %>
		            
		            
		        <div class="row" style="margin-top: 3%;">
	  					<div class="form-group">
	  						<div class="col-md-12">
	  							<a style="font-size: 18px; color: black; text-decoration: none;">Nome</a>
	  							<%= f.text_field :nome, :autofocus => true, style: 'text-transform: capitalize;', class: 'form-control input-lg' %>
	  						</div>
	  					</div>
	  				</div>    
            
	  				<div class="row">
	  					<div class="form-group">
	  						<div class="col-md-12">
	  						  <a style="font-size: 18px; color: black; text-decoration: none;">Email</a>
	  							<%= f.email_field :email, class: 'form-control input-lg' %>
	  						</div>
	  					</div>
	  				</div>
	  				
	  				<div class="row">
	  					<div class="form-group">
	  						<div class="col-md-12">
	  						  <a style="font-size: 18px; color: black; text-decoration: none;">Senha</a>
	  							<%= f.password_field :password, class: 'form-control input-lg' %>
	  						</div>
	  					</div>
	  				</div>
	  				
	  				<div class="row">
	  					<div class="form-group">
	  						<div class="col-md-12">
	  						  <a style="font-size: 18px; color: black; text-decoration: none;">Confirmar Senha</a>
	  							<%= f.password_field :password_confirmation, class: 'form-control input-lg' %>
	  						</div>
	  					</div>
	  				</div>
	  
	  				<div class="row">
	  				  <%= f.submit 'Cadastrar', :class => 'btn btn-3d btn-primary mb-xl btn-cadastro' %>
	  				</div>
	  				
	  			</form>
	  			<% end %>
	  		</div>
	  	</div>
  </div>